<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Fruits</title>
</head>
<body>
    
    <h1>All Fruits</h1>
    <nav>
        <ul>
            <li>
                <!-- Link to Home Page -->
                <a href="/">Home</a>
            </li>
            <li>
                <!-- Link to Add New Fruit Form -->
                <a href="/fruits/new">Add New Fruit</a>
            </li>
        </ul>
    </nav>

    <ul>
        <% fruits.forEach(fruit => { %>
          <li>
            <a href="/fruits/<%= fruit._id %>"> 
                <%= fruit.name %> 
            </a>
          </li> <!-- Closing li tag was missing -->
        <% }); %>
    </ul>

</body>
</html>